# Node
node_modules
npm-debug.log

# Build
dist
build

# Tests
coverage
*.spec.ts
*.e2e-spec.ts
test

# Git
.git
.gitignore

# CI/CD
.github

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log

# Environment
.env
.env.local
.env.production
.env.test

# Documentation
README.md
docs

# Misc
.DS_Store
*.md
